.about-section {
  padding: 3rem 2rem;
  color: #fff;
  border: 1px solid #444;
  border-radius: 15px;
  margin: 4rem 1rem;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  gap: 3rem;
  flex-wrap: wrap;
}

.about-image img {
  width: 350px;
  height: auto;
  border-radius: 20px;
  transform-origin: center;
  display: block;
}

.about-text {
  max-width: 600px;
  transform: translateY(40px);
  opacity: 0;
}

.label {
  font-size: 1rem;
  color: #888;
  margin-bottom: 1rem;
}

.description {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.char {
  display: inline-block;
  will-change: transform, opacity;
}

.info-list {
  list-style: none;
  padding: 0;
  margin: 0;
  border-top: 1px solid #333;
}

.info-list li {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 1px solid #333;
  transform: translateY(20px);
  opacity: 0;
}

.number {
  color: #2c5aa0;
}

/* Responsive styling */
@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }
  .about-section {
    padding: 1rem 1rem;
    margin: 2rem 0rem;
  }
  .about-image img {
    width: 80%;
    max-width: 300px;
    margin: auto;
  }

  .description {
    font-size: 1.5rem;
  }
}
