.health-section {
  display: flex;
  height: 100vh;
  overflow: hidden;
  font-family: "Getai Grotesk", sans-serif;
  padding: 30px;
}

.left-panel {
  flex: 1;

  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  font-size: 2rem;

  position: relative;
}

.text-item {
  position: relative;
  color: #ccc;
  transition: all 0.3s ease;
  cursor: pointer;
}

.text-item.active {
  color: white;
  font-weight: bold;
  font-size: 2.5rem;
}

.text-item .thumb {
  position: absolute;
  left: -50px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.right-panel {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.main-image {
  width: 80%;
  height: 90%;
  object-fit: cover;
}
.main-video,
.thumb {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  transition: all 0.4s ease;
}
